[Unit]
Description=DroneApp Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/raspi-drone-app/app.py

[Install]
WantedBy=multi-user.target
